    <!-- jquery -->
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!-- ripple -->
    <script src="js/jquery.ripples-min.js"></script>
    <!-- magnific popup -->
    <script src="Magnific-Popup-master/jquery.magnific-popup.js"></script>
    <!-- js -->
    <script src="js/script.js"></script>

  </body>
</html>
