<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLASSICO RESTAURANT</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="stylesheets/main.css">
    <!-- FONT AWESOME.js -->
    <script src="js/all.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <!-- magnific-popup css -->
    <link rel="stylesheet" href="Magnific-Popup-master/magnific-popup.css">
  </head>
    <body>
